html {
    background: black;
    color: rgb(63, 176, 221);
    scroll-behavior: smooth;
}

img {
    width: auto;
    height: 250px;
    /* padding: 0px 30px; */
}

.cardLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(63, 176, 221);
    padding: 0.5rem;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(63, 176, 221);
    color: cornsilk;
    font-weight: bold;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
}

.cardCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.cardTitle {
    font-weight: bolder;
    margin: 0;
    padding: 5px;
    color: black;
}

.cardTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients {
    text-align: center;
    padding: 5px;
}

.cardRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem;
    background-color: rgb(63, 176, 221);
    text-align: center;
}

.infoRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(63, 176, 221);
}

.stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 0.25rem;
    background-color: rgb(63, 176, 221);
    color: cornsilk;
    font-weight: bold;
}

.stat {
    padding: 0 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardBottom {
    padding: 0.25rem;
    color: black;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

ul, 
li {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0.5rem ;
}

.recipe {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    background-color: black;

    text-align: center;
    padding: 1rem;
}

.recipeContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pages {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.method,
.target,
.ingredientPair,
.pairings {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem
}

.check {
    display: flex;
    justify-content: space-between;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

label {
    display: flex;
    gap: 0.75rem;
}

.filterButtons {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-weight: bolder;
    color: rgb(63, 176, 221);
}

.toTop {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.25rem;
}


button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, rgb(104, 131, 207) 0, rgb(63, 176, 221) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: cornsilk;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: rgb(63, 176, 221) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgb(63, 176, 221) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(0, 66, 92) 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: rgb(63, 176, 221) 0 3px 7px inset;
  transform: translateY(2px);
}

@media (min-width: 1000px) {
    .recipeContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }

    .card {
        width: 400px;
    }

    .malt,
    .hops {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
    }
}
